<!DOCTYPE html> 
<html> 
<head> 
	<meta charset="utf-8" /> 
	<title>Nimbusly Diceroller</title> 

  <!-- Ensure cache gets updated when new version ready -->
  <script type="text/javascript">
  window.applicationCache.onupdateready = function() { window.applicationCache.swapCache(); }
    </script>
    
  <!-- Homescreen Icon -->
  <link rel="apple-touch-icon" href="/images/app_icon.png"/>
  <link rel="apple-touch-icon-precomposed" href="/images/app_icon.png"/>

  <!-- jQuery -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.js"></script> 

	<!-- Roller Javascript -->
	
	<link rel="stylesheet" href="stylesheets/mobile.css" type="text/css"/>
  <script type="text/javascript" src="/javascript/template.js"></script>
  <script type="text/javascript" src="/javascript/generated/probability.js"></script>
  <script type="text/javascript" src="/javascript/generated/dice_factory.js"></script>
  <script type="text/javascript" src="/javascript/generated/dice.js"></script>
  <script type="text/javascript" src="/javascript/generated/dice_combos.js"></script>
  <script type="text/javascript" src="/javascript/generated/storage.js"></script>
  <script type="text/javascript" src="/javascript/generated/dice_view.js"></script>
  <script type="text/javascript" src="/javascript/generated/dice_roller.js"></script>
  <script type="text/javascript" src="/javascript/generated/dice_calculator.js"></script>

  <script type="text/javascript" >
    $(document).bind('mobileinit', function() {
      var rollPage = new DiceRoller.DiceRoller('#rollPage');
      var buildPage = new DiceRoller.BuildPage('#buildPage');
        //odds = new window.DiceRoller.DiceCalculator('#odds')
        //roller.addObserver(odds)
    })
  </script>

  <!-- jQuery Mobile -->
	<link rel="stylesheet"  href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css" /> 
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.js"></script> 

  <!-- Templates -->

  <!-- dice_set_view_template is used to display selectable dice sets -->
  <script type="text/html" id="diceSetViewTemplate">
    <button class="diceSetPick" spec="<%= typeId %>" id="select-<%=key%>"><%= title %></button>
  </script>

  <!-- dice_view_template is used to display a single die in the main roll area -->
  <script type="text/html" id="dieViewTemplate">
    <div id="<%=id%>" class="dieView" spec="<%= die.typeId %>">
      <img src="/images/<%=die.typeId%>_60.png">
      <div class="roll"><%=die.currentRoll%></div>
      <div class="dieType"><%=die.typeId%></div>
    </div>
  </script>


	</head> 
<body> 

  <div data-role="page" id="rollPage"  data-theme="a"> 
  
    <div data-role="header" data-position="fixed"> 
       <!--a href="#" class='btn-add' data-role='button' data-icon='add'>Add</a-->
       <a href="#buildPage" class='btn-edit' data-role='button' data-icon='gear'>Edit</a>
       <a href="#" class='btn-save' data-role='button' data-icon='plus'>Save</a>
      <h1>Nimbusly DiceRoller</h1> 
    </div> 
    
    <div data-role="content"> 
      <div class='rollArea'>
        <div class="rollResult">?</div>
        <div class="dice">?</div>
        <div class="savedButtons">
          <a href="#" data-role="button" data-inline="true" class="btn-delete">Delete</a>
        </div>
      </div>
      <div class="selectionArea savedDice">
        ?
      </div>
    
    </div> 
    
  </div> 
 
  <div data-role="page" id="buildPage" data-theme="a"> 
    
    <div data-role="header" data-position="fixed"> 
      <a href="#rollPage" class='btn-back' data-role='button' data-icon='back'>Done</a>
      <h1>Nimbusly DiceRoller - Edit</h1> 
    </div> 
    
    <div data-role="content">
    
      <div class='rollArea'>
        <div class="removeHelp">Click a die to remove</div>
        <div class="dice">?</div>
      </div>
      
      <div class="selectionArea">
        <div class="addHelp">Click a die to add</div>
        <div class="dieSelector">
        </div>
      </div>
    
    </div> 
    
  </div>
  
</body> 
</html> 
