<html>
  <head>
    <script type="text/javascript" src="/javascript/jquery-1.4.4.js"></script>
    <script type="text/javascript" src="/javascript/jquery.flot.js"></script>
    <script type="text/javascript" src="/javascript/jquery.flot.stack.js"></script>
    <script type="text/javascript" src="/javascript/template.js"></script>
    <script type="text/javascript" src="/javascript/generated/probability.js"></script>
    <script type="text/javascript" src="/javascript/generated/dice_factory.js"></script>
    <script type="text/javascript" src="/javascript/generated/dice.js"></script>
    <script type="text/javascript" src="/javascript/generated/dice_combos.js"></script>
    <script type="text/javascript" src="/javascript/generated/storage.js"></script>
    <script type="text/javascript" src="/javascript/generated/dice_view.js"></script>
    <script type="text/javascript" src="/javascript/generated/dice_roller.js"></script>
    <script type="text/javascript" src="/javascript/generated/dice_calculator.js"></script>
    <link rel="stylesheet" href="stylesheets/mobile.css" type="text/css" media="handheld" />
    <link rel="stylesheet" href="stylesheets/main.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/large_landscape.css" type="text/css"/>
    <link rel="stylesheet" href="stylesheets/small_portrait.css" type="text/css" 
      media="only screen and (max-device-width: 800px) and (orientation: portrait)" />
    <link rel="stylesheet" href="stylesheets/small_landscape.css" type="text/css" 
      media="only screen and (max-device-width: 800px) and (orientation: landscape)" />
    <link rel="stylesheet" href="stylesheets/large_portrait.css" type="text/css" 
        media="only screen and (min-device-width: 801px) and (orientation: portrait)" />
    <link rel="stylesheet" href="stylesheets/hdpi.css" type="text/css"/>
    <link rel="stylesheet" href="stylesheets/xhdpi.css" type="text/css" 
      media="only screen and (min-resolution: 320dpi)" />
  </head>
  <body>
    <div id='odds'>
      <div id="probabilityChart">&nbsp;</div>
    </div>
    <div id='roll' class='pane'>
      <div class="title">
        <div class="show"><span>Test</span><button class="edit">Edit</button></div>
        <div class="edit" style="display:none">
          <input id="title"><button class="save">Save</button>
        </div>
      </div>
      <div class="rollArea">
        <div class="dice"></div>
        <div class="buttons" style="clear: both;">
          <button class="save">Save</button>
          <button class="roll">Roll</button>
        </div>
      </div>
      <div class="rollResult"></div>
    </div>
    <div id="savedDice"></div>
    <div id="dieSelector"></div>
  </body>
  <!-- Templates -->

  <!-- dice_set_view_template is used to display selectable dice sets -->
  <script type="text/html" id="diceSetViewTemplate">
    <button class="diceSetPick" spec="<%= typeId %>" id="select-<%=key%>"><%= title %></button>
  </script>

  <!-- dice_view_template is used to display a single die in the main roll area -->
  <script type="text/html" id="dieViewTemplate">
    <div id="<%=id%>" class="dieView" spec="<%= die.typeId %>">
      <img src="/images/<%=die.typeId%>_60.png">
      <div class="roll"><%=die.currentRoll%></div>
    </div>
  </script>

<script language="javascript">
  $(document).ready(function() {
    roller = new window.DiceRoller.DiceRoller('#roll')
    odds = new window.DiceRoller.DiceCalculator('#odds')
    roller.addObserver(odds)
  })
</script>

</html>