#roll { position: absolute; top: 0; left: 0; width: 50%; height: 70%; }
#odds { position: absolute; top: 0; right: 0; width: 50%; height: 70%; }
#dieSelector { position: absolute; bottom: 0; left: 0; width: 50%; height: 30%; }
#savedDice { position: absolute; bottom: 0; right: 0; width: 50%; height: 30%;}
