#roll { position: absolute; top: 0; left: 0; width: 60%; height: 100%; }
#odds { display: none; position: absolute; bottom: 0; left: 0; width: 60%; height: 100%; }
#dieSelector { position: absolute; top: 0; right: 0; width: 40%; height: 100%; }
#savedDice { position: absolute; bottom: 0; right: 0; width: 40%; height: 100%;}
